libraries/click-8.0.1-py3-none-any.whl
libraries/Flask-2.0.1-py3-none-any.whl
libraries/importlib_metadata-4.6.3-py3-none-any.whl
libraries/itsdangerous-2.0.1-py3-none-any.whl
libraries/Jinja2-3.0.1-py3-none-any.whl
libraries/MarkupSafe-2.0.1-cp36-cp36m-manylinux1_x86_64.whl
libraries/typing_extensions-3.10.0.0-py3-none-any.whl
libraries/Werkzeug-2.0.1-py3-none-any.whl
libraries/zipp-3.5.0-py3-none-any.whl
